.App {
  text-align: center;
  background: black;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: 40px;
}

canvas {
  border: 1px solid white;
  margin-top: 20px;
  width: 80%;
  height: 400px;
}
